/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}
.actor h2 {
  font-size: 1.5rem;
  font-family: "Libre Baskerville", serif;
}
.actor a {
  color: grey;
}
.actorImage img {
  max-width: 50%;
}
